Flask==2.0.1
Werkzeug==2.0.3 # Added to ensure compatibility with Flask 2.0.1
Flask-JWT-Extended==4.4.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.3.24 # Added to ensure compatibility with Flask-SQLAlchemy 2.5.1
Flask-CORS==3.0.10 # Added for cross-origin request handling
cryptography==3.4.7
# bitcoin==1.1.42 # Replaced by python-bitcoinlib for better security and maintenance
python-bitcoinlib==0.12.1
marshmallow==3.11.1
marshmallow-sqlalchemy==0.26.1 # To align with older marshmallow and SQLAlchemy
passlib==1.7.4 # For password hashing
Flask-Limiter==3.5.0 # For rate limiting
treys==0.1.8
psycopg2-binary # For PostgreSQL connection
python-json-logger
coverage
pytest-cov
treys
python-dotenv # For loading .env files
click==8.0.0 # For the admin CLI tool